body{
    background-image: url(img/html.jpg);
    background-size: contain;
    background-position: left;
    color: white;
}

a{
    color: white;
}

.caixas{
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    
}

.caixas a{
    background-color: black;
    text-decoration: none;
}

#aula1{
    background-image: url(img/codigo.jpg);
}

#aula2{
    background-image: url(img/codigo2.jpg);
}


