*{
    margin: 0;
    padding: 0;
}

header{
    background-color: bisque;
    border: 1px solid black;
    padding: 20px;
}

body{
    display: inline-block;
    background-color: aquamarine;
}

main{
    background-color: aqua;
    margin: 15px;
    
    padding: 10px;
    
    border: 1px solid black;
}



.container{
    display: inline-block;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.caixas{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 1px solid black;
    background-color: rgb(99, 65, 65);
    margin: 10px;
}

footer{
    
    width: 100%;
    background-color: rgb(123, 121, 118);
}